---
import Layout from "../components/Layout.astro";
// const res = await fetch(
//   "https://baconipsum.com/api/?type=meat-and-filler&paras=5&format=text"
// );
// const data = await res.text();
// console.log(data);
---

<Layout>
  <h1>About</h1>
  <article class="prose lg:prose-xl prose-h1:text-slate-300 prose-p:text-slate-400 prose-code:bg-yellow-800 ">
      <!-- {data} -->
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis numquam et sit ratione atque asperiores suscipit quisquam minus, culpa modi dolore quibusdam quidem laborum? Numquam mollitia assumenda ducimus perferendis, tempora accusantium placeat quibusdam id, incidunt iusto deserunt blanditiis molestiae quas sit saepe esse ea quaerat commodi fuga eaque nostrum. Esse, voluptates impedit? Dolor praesentium temporibus in porro, vero repellendus, facere ipsa minus velit, minima enim voluptatum iste doloribus consequatur. Recusandae numquam facilis autem, sed voluptatum tempore similique placeat. Fugit repudiandae, maiores quo mollitia enim aliquid, itaque dolorem voluptatem excepturi voluptatibus minima nulla nihil labore molestiae exercitationem qui, quis amet?</p>
      <pre>
            <code>
                  const = foo = 'bar';
            </code>
      </pre>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi perspiciatis dolorum maxime minima recusandae at quae ipsam nostrum omnis?</p>

  </article>
</Layout>
