<header class="bg-zinc-800 p-14 rounded-xl">
  <h1 class="text-4xl font-bold mb-5">Per Finder</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit possimus
    reprehenderit id doloribus optio, natus ab. Odio quo aliquam omnis
    voluptatem eius ad, soluta aperiam veritatis facilis reiciendis velit
    tempore quae quisquam, explicabo unde perferendis! Voluptatum dicta
    suscipit, repudiandae molestiae rerum ipsam cum laboriosam minima
    praesentium quia, libero labore quibusdam eius fugiat aliquid esse aliquam
    consequatur eaque ex, dolorem voluptate sint voluptatibus officiis expedita.
    Facere deserunt veritatis mollitia eum natus! Obcaecati nemo enim
    dignissimos id laborum, eligendi tempore temporibus, quo consectetur eaque
    officiis officia quam nesciunt suscipit nulla amet, voluptatibus pariatur
    eius illum. Minima rerum magni, ullam reiciendis possimus alias.
  </p>
</header>
