---
import NavBar from './NavBar.astro'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pet Finder</title>
  </head>
  <body class="bg-zinc-900 text-white ">
    <NavBar />
    <main class="mx-auto container py-10">
      <slot />
    </main>
  </body>
</html>
